<div id="<%= dom_id segment %>">
  <p>
    <strong>Name:</strong>
    <%= segment.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= segment.status %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= segment.region.name %>
  </p>

</div>
